#latest {
  padding: 100px 0;
}

#latest .container::after {
  content: "";
  display: table;
  clear: both;
}

#latest .latest-header {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

#latest .latest-header::after {
  content: "";
  display: table;
  clear: both;
}

#latest .latest-header h1 {
  display: inline-block;
  float: left;
  color: #6066F2;
  width: 35%;
  max-width: 400px;
  font-size: 3.5rem;
  font-weight: 700;
}

#latest .latest-header .direction-btns {
  display: inline-block;
  float: right;
  position: relative;
  top: 15px;
  right: 71px;
}

#latest .latest-header .direction-btns .scroll-left {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  background: #6066F2;
  color: #FFFFFF;
}

#latest .latest-header .direction-btns .scroll-right {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: right;
  color: #CECECE;
}

#latest .latest-header .direction-btns .scroll-left, #latest .latest-header .direction-btns .scroll-right {
  display: inline-block;
  border: 0.75px solid #CECECE;
  padding: 10px 45px;
  font-size: 3.5rem;
}

#latest .latest-body {
  padding: 70px 0;
  margin-top: 30px;
}

#latest .latest-body::after {
  content: "";
  display: table;
  clear: both;
}

#latest .latest-body .latest-body-column {
  width: 33.3%;
  display: inline-block;
  float: left;
  text-align: center;
}

#latest .latest-body .latest-body-column:nth-child(1) .color-box {
  background: rgb(108, 108, 108);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 300px;
  width: 300px;
  z-index: 0;
  margin-top: 70px;
  position: relative;
}

#latest .latest-body .latest-body-column:nth-child(2) .color-box {
  background: rgb(177, 158, 128);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 300px;
  width: 300px;
  z-index: 0;
  margin-top: 70px;
  position: relative;
}

#latest .latest-body .latest-body-column:nth-child(3) .color-box {
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 300px;
  width: 300px;
  z-index: 0;
  margin-top: 70px;
  position: relative;
}

#latest .latest-body .latest-body-column .color-box img {
  width: 130%;
  z-index: 3;
  position: absolute;
  top: -53%;
  left: -15%;
}

#latest .latest-body .latest-body-column:nth-child(1) .color-box .cart-icon {
  background: rgb(108, 108, 108);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  padding: 15px;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -36px;
  right: -33px;
}

#latest .latest-body .latest-body-column:nth-child(2) .color-box .cart-icon {
  background: rgb(177, 158, 128);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  padding: 15px;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -36px;
  right: -33px;
}

#latest .latest-body .latest-body-column:nth-child(3) .color-box .cart-icon {
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  padding: 15px;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -36px;
  right: -33px;
}

#latest .latest-body .latest-body-column .color-box .cart-icon .fas {
  font-size: 1.9rem;
  color: #FFFFFF;
  position: absolute;
  top: 25%;
  right: 21%;
}

#latest .latest-body .latest-body-column:nth-child(1) .line {
  background: rgb(108, 108, 108);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(108, 108, 108, 1) 31%, rgba(184, 120, 51, 1) 76%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: inline-block;
  height: 3px;
  margin: 40px 75px 25px 0;
  width: 35%;
}

#latest .latest-body .latest-body-column:nth-child(2) .line {
  background: rgb(177, 158, 128);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(177, 158, 128, 1) 32%, rgba(233, 222, 207, 1) 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: inline-block;
  height: 3px;
  margin: 40px 75px 25px 0;
  width: 35%;
}

#latest .latest-body .latest-body-column:nth-child(3) .line {
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 1%, rgba(29, 63, 126, 1) 54%, rgba(29, 63, 126, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: inline-block;
  height: 3px;
  margin: 40px 75px 25px 0;
  width: 35%;
}

#latest .latest-body .latest-body-column:nth-child(1) .price {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  padding-right: 80px;
  color: rgba(108, 108, 108, 1);
}

#latest .latest-body .latest-body-column:nth-child(2) .price {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  padding-right: 80px;
  color: rgba(177, 158, 128, 1);
}

#latest .latest-body .latest-body-column:nth-child(3) .price {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  padding-right: 80px;
  color: rgba(29, 63, 126, 1);
}

#latest .latest-footer {
  padding-top: 20px;
  text-align: center;
  position: relative;
}

#latest .latest-footer img {
  display: inline-block;
  opacity: 0.25;
  position: absolute;
  /*  height: 300px; */
  width: 40%;
  left: 30%;
  top: 25%;
  z-index: 1;
  /*  transform: rotate(15deg); */
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
}

#latest .latest-footer .footer-box {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 100px 0;
}

#latest .latest-footer .footer-box h2 {
  font-size: 3.65rem;
  font-weight: 700;
  color: #6066F2;
  padding: 30px 0;
}

#latest .latest-footer .footer-box .footer-input .input-area {
  background: #FFFFFF;
  border-radius: 50px;
  display: inline-block;
  padding: 5px 15px 10px;
  margin-top: 1.5rem;
}

#latest .latest-footer .footer-box .footer-input .input-area:nth-child(1) {
  height: 71.6px;
  margin-right: 30px;
  padding-right: 20px;
}

#latest .latest-footer .footer-box .footer-input .input-area .fas {
  font-size: 2rem;
  padding: 10px;
  position: relative;
  top: 5px;
  color: #D5E2EA;
}

#latest .latest-footer .footer-box .footer-input .input-area input {
  background: #FFFFFF;
  padding: 10px;
  border: none;
}

#latest .latest-footer .footer-box .footer-input .input-area .far {
  font-size: 2rem;
  padding: 10px;
  position: relative;
  top: 5px;
  color: #D5E2EA;
}

#latest .latest-footer .footer-box .footer-input .input-area button {
  background: #6066F2;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px 25px;
  color: #FFFFFF;
  font-size: 1rem;
  border: 0;
}

/* Laptop devices */
@media only screen and (max-width: 1215px) {}

/* Tablet devices */
@media only screen and (max-width: 1023px) {
  #latest {
    padding: 50px 0;
  }

  #latest .latest-header h1 {
    width: 50%;
    font-size: 2.75rem;
    text-transform: capitalize;
  }

  #latest .latest-header .direction-btns {
    position: relative;
    top: 5px;
    right: 0;
  }

  #latest .latest-body {
    padding: 30px 0;
  }

  #latest .latest-body .latest-body-column:nth-child(1) .color-box,
  #latest .latest-body .latest-body-column:nth-child(2) .color-box,
  #latest .latest-body .latest-body-column:nth-child(3) .color-box {
    margin-top: 70px;
  }

  #latest .latest-header .direction-btns {
    display: inline-block;
  }

  #latest .latest-body .latest-body-column {
    width: 50%;
    transform: scale(0.8);
  }

  #latest .latest-footer {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  #latest .latest-footer img {
    height: 350px;
    width: 400px;
    top: 0%;
    left: 25%;
  }

  #latest .latest-footer .footer-box {
    padding-bottom: 50px;
  }

  #latest .latest-footer .footer-box h2 {
    font-size: 2.75rem;
    text-align: center;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(1) {
    height: 67px;
  }

  #latest .latest-footer .footer-box .footer-input .input-area .fas {
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(1) input {
    position: relative;
    top: 12px;
    width: 75%;
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(2) {
    height: 67px;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(2) input {
    position: relative;
    top: 12px;
    width: 55%;
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area .far {
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area button {
    padding: 10px 15px;
    position: relative;
    top: 10px;
    float: right;
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  #latest {
    padding: 50px 0;
  }

  #latest .latest-header h1 {
    width: 100%;
    font-size: 2.75rem;
    text-transform: capitalize;
    text-align: center;
  }

  #latest .latest-body {
    padding: 30px 0;
  }

  #latest .latest-body .latest-body-column:nth-child(1) .color-box,
  #latest .latest-body .latest-body-column:nth-child(2) .color-box,
  #latest .latest-body .latest-body-column:nth-child(3) .color-box {
    margin-top: 20px;
  }

  #latest .latest-header .direction-btns {
    display: none;
  }

  #latest .latest-body .latest-body-column {
    width: 100%;
    transform: scale(0.7);
  }

  #latest .latest-footer {
    padding: 0;
    width: 100%;
  }

  #latest .latest-footer img {
    height: 70%;
    width: 70%;
    left: 20%;
  }

  #latest .latest-footer .footer-box {
    padding-top: 0;
    padding-bottom: 50px;
  }

  #latest .latest-footer .footer-box h2 {
    font-size: 2.75rem;
    text-align: center;
  }

  #latest .latest-footer .footer-box .footer-input {
    width: 100%;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(1) {
    width: 100%;
    height: 67px;
  }

  #latest .latest-footer .footer-box .footer-input .input-area .fas {
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(1) input {
    position: relative;
    top: 15px;
    width: 75%;
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(2) {
    width: 100%;
    height: 67px;
  }

  #latest .latest-footer .footer-box .footer-input .input-area:nth-child(2) input {
    position: relative;
    top: 15px;
    width: 49%;
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area .far {
    float: left;
  }

  #latest .latest-footer .footer-box .footer-input .input-area button {
    padding: 10px 15px;
    position: relative;
    top: 10px;
    float: right;
  }
}
